@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url("../public/fonts/bpg_nino_mtavruli_normal.ttf");
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: #FAFAFA;
}